<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
	<title>Rapporter fra medlemsregister</title>
	<link rel="stylesheet" href="static/bootstrap.min.css"> <!-- Bilbiotek -->
	<link rel="stylesheet" href="static/vakre_tabeller.css"> <!-- Egen fil -->
  </head>
  <body>

	{% include 'inkluder/_naviger.html' %}
	
	<div class ="container">
	{% block body %}{% endblock %}
	</div>
	<script src="static/jquery-3.3.1.min.js"></script><!-- Bilbiotek -->
	<script src="static/bootstrap.min.js"></script><!-- Bilbiotek -->
	<script src="static/marker_og_eksporter.js"></script>  <!-- Egen fil -->
  </body>
</html>
	